.customize-table {
  border-radius: $border-radius-root;

  .vue3-easy-data-table__main,
  .vue3-easy-data-table__footer {
    border-radius: $border-radius-root;
  }

  white-space: nowrap;
  --easy-table-border: 1px solid rgb(var(--v-theme-inputBorder), 0.1);
  --easy-table-row-border: 1px solid rgb(var(--v-theme-inputBorder), 0.1);

  --easy-table-header-font-size: 14px;
  --easy-table-header-height: 50px;
  --easy-table-header-font-color: rgb(var(--v-theme-darkText));
  --easy-table-header-background-color: rgb(var(--v-theme-surface));

  --easy-table-header-item-padding: 10px 15px;

  --easy-table-body-even-row-font-color: rgb(var(--v-theme-surface));
  --easy-table-body-even-row-background-color: rgba(0, 0, 0, 0.02);

  --easy-table-body-row-font-color: rgb(var(--v-theme-darkText));
  --easy-table-body-row-background-color: rgb(var(--v-theme-surface));
  --easy-table-body-row-height: 50px;
  --easy-table-body-row-font-size: 14px;

  --easy-table-body-row-hover-font-color: rgb(var(--v-theme-darkText));
  --easy-table-body-row-hover-background-color: rgba(0, 0, 0, 0.02);

  --easy-table-body-item-padding: 15px;

  --easy-table-footer-background-color: rgb(var(--v-theme-surface));
  --easy-table-footer-font-color: rgb(var(--v-theme-darkText));
  --easy-table-footer-font-size: 14px;
  --easy-table-footer-padding: 0px 10px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 10px;

  --easy-table-scrollbar-track-color: #;
  --easy-table-scrollbar-color: #;
  --easy-table-scrollbar-thumb-color: #4c5d7a;
  --easy-table-scrollbar-corner-color: #;

  --easy-table-loading-mask-background-color: #;
}

@media (max-width: 800px) {
  .vue3-easy-data-table__footer {
    overflow: auto;
    justify-content: start !important;
  }
}


.ant-table-cell {
  max-width: 10px !important;
  min-width: 10px !important;

}

.stageHeadTable {
  div {
    .ant-spin-container {
      .ant-pagination {
        display: none !important;
      }

      .ant-table {
        .ant-table-container {
          .ant-table-content {
            table {
              tbody {
                display: none !important;
              }

              thead {
                tr {
                  th {
                    background: transparent !important;
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.pipelineDetailTable {
  div {
    .ant-spin-container {
      .ant-pagination {
        display: none !important;
      }

      .ant-table {
        .ant-table-container {
          .ant-table-content {
            table {
              tbody {
                //tr {
                //  td:nth-child(2) {
                //    background: rgb(21, 140, 207) !important;
                //    color: black !important;
                //  }
                //
                //
                //td:nth-child(3) ,  td:nth-child(4) ,  td:nth-child(5) {
                //  background: rgba(235, 125, 53,0.5) !important;
                //  color: white !important;
                //  font-weight: bold;
                //  }
                //  td:nth-child(6){
                //    background: rgba(112, 173, 71,0.5) !important;
                //    color: white !important;
                //  }
                //  td:nth-child(7){
                //    background-color: rgba(220, 53, 69,0.5) !important;
                //    color: white;
                //  }
                //}
              }
              thead {
                tr {
                  th:nth-child(2) {
                    background: rgb(21, 140, 207) !important;
                    text-align: center;
                    color: white !important;
                  }


                th:nth-child(3)  {
                  background: rgb(235, 125, 53) !important;
                  color: white !important;
                  font-weight: bold;

                  text-align: center;
                }
                  th:nth-child(4){
                    background: rgb(112, 173, 71) !important;
                    color: white !important;

                    text-align: center;
                  }
                  th:nth-child(5){
                    background-color: rgb(220, 53, 69) !important;
                    color: white;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}